@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poiret+One&family=Spirax&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* bas font osv */
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  background: #f4f4f4;
  color: #272626;
  line-height: 1.6;
}

/* header info */
header {
  background-color: #208137;
  color: #edf6f9;
  padding: 1rem 0;
  text-align: center;
}

nav button {
  background: none;
  border: 2px solid #edf6f9;
  border-radius: 5px;
  color: #edf6f9;
  padding: 0.5rem 1rem;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* button ändras vid hover */
nav button:hover {
  background-color: #edf6f9;
  color: #005f73;
}

.sell-container h2 {
  text-align: center;
  margin-left: 0;
}

.sell-container form {
  margin-left: 40%;
}

.sell-container p {
  text-align: center;
}

/* sälj bostad justering */
.sell-container {
  padding: 20px;
  text-align: left;
}

.sell-container h2,
.sell-container p,
.sell-container label,
.sell-container input,
.sell-container select,
.sell-container textarea,
.sell-container button {
  margin-bottom: 3px;
}

/* Sendformulär Om oss */

.ingress {
  /* margin-top: 1em; */
  font-weight: 300;
  font-size: 1.3em;
  text-align: center;
  letter-spacing: 0;
  color: #444;
}

.form-section {
  display: block;
  background-color: #6c8e5753;
  height: 330px;
  padding-top: 1em;
}

form {
  position: relative;
  margin: 0 auto;
  padding-right: 1%;
  max-width: 570px;
}

input {
  display: block;
  margin: 0.3em auto;
  padding: 0.5em;
  width: 570px;
  border: #208137 solid 1px;
  font-family: "Ubuntu";
}

#message {
  padding-bottom: 7em;
  border-bottom: #208137 solid 4px;
}

#form-btn {
  position: absolute;
  margin-left: 190px;
  background-color: #fff;
  color: #444;
  border: #208137 2px solid;
  border-radius: 5px;
  padding: 0.6em 1em;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 1em;
  transition-duration: 300ms;
  cursor: pointer;
}

#form-btn:hover {
  background-color: #208137;
  color: #fff;
  border-radius:5px;
}