@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poiret+One&family=Spirax&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --primary-clr: #208137;
  --secondary-clr: #208137;
  --background-clr: #f4f4f4;
  --text-clr: #333;
}

/* bas font osv */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  background: var(--background-clr);
  color: var(--text-clr);
  line-height: 1.6;
}

/* header info */
#header-section {
  top: 0;
  position: absolute;
  background-color: var(--primary-clr);
  text-align: center;
  height: 6.5em;
  width: 100%;
  z-index: 2000;
}

header {
  padding-top: 1rem;
  /* text-align: center; */
  /* font-size: xx-large; */
}

#logo {
  width: 230px;
  transition-duration: 300ms;
}

#logo:hover {
 width: 240px;
}

#nav-pos {
  position: absolute;
  top:6.2em;
  width: 100%;
}
nav {
  padding-bottom: 5px;
  text-align: center;
  background-color: var(--primary-clr);
  align-items: center;
  z-index: 2000;
}
nav>a {
  color: #ffffffa6;
  z-index: 2000;
 transition: 700ms;
}
nav>a:hover {
  border-bottom: #fff solid 2px;
  border-radius: 10px;
  padding-bottom: 3px;
}
.pointer{
  position: absolute;
  top:6.6em;
  width: 100%;
  z-index: 500;
}
#top-arrow {
  margin: 0 auto;
  width: 2em;
  height: 2em;
  rotate: 45deg;
  border-radius: 5px;
  background-color: var(--primary-clr);
}

/* nav button {
  background: none;
  border: 2px solid #edf6f9;
  border-radius: 5px;
  color: #edf6f9;
  padding: 0.5rem 1rem;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
} */

/* button ändras vid hover */
/* nav button:hover {
  background-color: #edf6f9;
  color: #005f73;
} */
main {
  margin: 10em 0 0 0;
}

/* ------ Home ------*/
/* Paralax */
.wrapper {
  margin-top: -6.5em;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

#hero {
  position: relative;
  display: block;
  margin: 0 auto;
  height: 80%;
  width: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.hero-image {
  transform: translateZ(-15px) scale(2.5);
}

.titel {
  transform: translateZ(-5px) scale(1.5);
}

.p-hero {
  transform: translateZ(-5px) scale(1.5);
}

.hero-image,
.title .p-hero {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.titel {
  font-family: "Dancing Script";
  font-size: 6rem;
  color: var(--background-clr);
  letter-spacing: -0.06rem;
  line-height: 5.5rem;
  text-align: center;
  padding-top: 1.3em;
  padding-bottom: 0.3em;
  text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.7), 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.p-hero {
  margin: 0 auto;
  font-size: 1.3rem;
  color: #fff;
  letter-spacing: -0.01rem;
  text-align: center;
  max-width: 600px;
  text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.7), 0px 10px 30px rgba(0, 0, 0, 0.5);
}

#First-sec {
  position: relative;
  z-index: 5;
  height: 100vh;
  font-size: 1.1rem;
  line-height: 140%;
  padding: 2rem;
  background-color: var(--background-clr);
  color: #333;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.7), 0px -15px 20px rgba(0, 0, 0, 0.4);
}

.content {
  max-width: 600px;
  margin: auto;
}



/* Sälja bostad */
.sell-container h2 {
  text-align: center;
  margin-left: 0;
}

.sell-container form {
  margin-left: 40%;
}

.sell-container p {
  text-align: center;
}


/* sälj bostad justering */
.sell-container {
  padding: 20px;
  text-align: left;
}

.sell-container h2,
.sell-container p,
.sell-container label,
.sell-container input,
.sell-container select,
.sell-container textarea,
.sell-container button {
  margin-bottom: 3px;
}

/* Brokers -> Om oss */
#brokers {
  position: relative;
  max-width: 600px;
  margin: 3em auto 1em;
}

#dealers {
  width: 100%;
  font-size: 62.5%;
}

.dealer {
  display: inline-block;
  position: relative;
  width: 168px;
  padding: 1em;
  margin: 0 0.5em 1em 0.5em;
  border-radius: 1em;
  background-color: #6c8e5753;
}

.dealer-img {
  width: 100%;
}

.dealer-name {
  font-size: 1.4em;
  margin: 5px 0 2px 0;
}

p.ingress {
  font-weight: 300;
  font-size: 1.3em;
  text-align: center;
  margin: 0.5em;
  color: #444;
}

.dealer>p {
  font-size: 1.3em;
  line-height: 130%;
  margin: 0;
}

p.role {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 0.9em;
}

a:link {
  color: #ffffff90;
  padding: 0.4em;
  font-weight: 300;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

a:visited {
  color: #333;
}

/* Sendformulär -> Om oss */
.form-section {
  display: block;
  background-color: #6c8e5753;
  height: 330px;
  padding-top: 1em;
}

.contact-form {
  position: relative;
  margin: 0 auto;
  padding-right: 1%;
  max-width: 570px;
}

#email,
#notation,
#message {
  display: block;
  margin: 0.3em auto;
  padding: 0.5em;
  width: 570px;
  border: #208137 solid 1px;
  font-family: "Ubuntu";
  color: #444;
}

#message {
  padding-bottom: 7em;
  border-bottom: #208137 solid 4px;
}

#form-contact-btn {
  position: absolute;
  margin-left: 190px;
  background-color: #fff;
  color: #444;
  border: #208137 2px solid;
  border-radius: 5px;
  padding: 0.6em 1em;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 1em;
  transition-duration: 300ms;
  cursor: pointer;
}

#form-contact-btn:hover {
  background-color: #208137;
  color: #fff;
  border-radius: 5px;
}

/* login form */
#login-form {
  margin: 0 auto;
  max-width: 600px;
}

#login-form>input {
  margin:1em 1em 3em 0;
}


footer {
  margin-top: 0;
  height: 100vw;
  background-color: var(--text-clr);
}
