@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poiret+One&family=Spirax&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* ------ Universalt ------ */
:root {
  --primary-clr: #208137;
  --secondary-clr: #208137;
  --background-clr: #f4f4f4;
  --text-clr: #333;
}

/* bas font osv */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  background: var(--background-clr);
  color: var(--text-clr);
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

p {
  margin: 1px;
}

#header-section {
  top: 0;
  position: fixed;
  background-color: var(--primary-clr);
  text-align: center;
  height: 8.2em;
  width: 100%;
  z-index: 2000;
}

header {
  padding-top: 1rem;
  margin-bottom: 0;
}

#logo {
  width: 230px;
  transition-duration: 300ms;
}

#logo:hover {
  width: 240px;
}

#nav-pos {
  position: fixed;
  top: 6.2em;
  width: 100%;
  z-index: 3000;
}

.nav-meny {
  padding-bottom: 5px;
  text-align: center;
  align-items: center;
}

.nav-meny>a {
  color: #ffffffa6;
  transition: 700ms;
  padding: 0.4em;
  font-weight: 300;
  text-decoration: none;
}

.nav-meny>a:hover {
  color: #fff;
  border-bottom: #fff solid 2px;
  border-radius: 10px;
  padding-bottom: 3px;
}

.nav-meny>a:visited {
  color: #fff;
}

.pointer {
  position: fixed;
  top: 6.6em;
  width: 100%;
  z-index: 500;
}

#top-arrow {
  position: relative;
  margin: 0 auto;
  width: 2em;
  height: 2em;
  rotate: 45deg;
  border-radius: 5px;
  background-color: var(--primary-clr);
}

.hamburger,
.toggle-meny {
  display: none;
}

main {
  margin: 10em 0 0 0;
}

/* --------- Söka bostad -------- */
.residencesList li {
  border: 1px solid #045008;
  padding: 10px;
  margin-bottom: 1vh;
  list-style: none;
  border-radius: 5px;
  max-width: 32vh;
  width: 38vh;
  text-align: center;
  justify-content: center;
}

.residences-container {
  display: flex;
  justify-content: center;
}

.residencesList {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}

ul.residencesList {
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
  margin-top: 20px;
}

.residence-item {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.residence-details {
  display: flex;
  flex-direction: column;
}

.residence-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.searchTitle,
.residencesList {
  text-align: center;
}

.container {
  margin: 20px;
}

h2.searchTitle {
  margin-left: 2vh;
}

.filterResidence {
  margin-left: 2vh;
  font-size: large;
  text-align: center;
}

.interest-form input {
  width: 20%;
  margin-bottom: 10px;
  font-size: 12px;
}

/* Större storlek för knappen */
.interest-form button {
  padding: 10px 20px;
  font-size: 16px;
}

.residence-preview-image {
  max-width: 100%;
  width: 123px;
  height: 93px;
  border-radius: 4px;
}

button {
  width: fit-content;
  background-color: #208137;
  color: white;
  border-radius: 5px;
  border-color: white;
}

/* ------- Home -------*/
/* Paralax */
.wrapper {
  margin-top: -6.5em;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.residence-image {
  height: auto;
  max-height: 500px;
  min-height: 200px;
  width: 100%;
  object-fit: contain;
  margin: 0 auto;
}

#hero {
  position: relative;
  display: block;
  margin: 0 auto;
  height: 80%;
  width: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.hero-image {
  transform: translateZ(-15px) scale(2.5);
}

.titel {
  transform: translateZ(-5px) scale(1.5);
}

.p-hero {
  transform: translateZ(-5px) scale(1.5);
  margin: 0 auto;
  font-size: 1.3rem;
  color: #fff;
  letter-spacing: -0.01rem;
  text-align: center;
  max-width: 400px;
  text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.7), 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.hero-image,
.title .p-hero {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.titel {
  font-family: "Dancing Script";
  font-size: 6rem;
  color: var(--background-clr);
  letter-spacing: -0.06rem;
  line-height: 5.5rem;
  text-align: center;
  padding-top: 1.3em;
  padding-bottom: 0.3em;
  text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.7), 0px 10px 30px rgba(0, 0, 0, 0.5);
}

#First-sec {
  position: relative;
  z-index: 5;
  height: 100vh;
  font-size: 1.1rem;
  line-height: 140%;
  padding: 2rem;
  background-color: var(--background-clr);
  color: #333;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.7), 0px -15px 20px rgba(0, 0, 0, 0.4);
}

#First-sec p {
  margin-bottom: 1em;
}

.content {
  max-width: 600px;
  margin: auto;
}

/* --------- Sälja bostad -------- */
.sell-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  text-align: left;
}

.sell-container h2 {
  text-align: left;
  margin-left: 1%;
}

.sell-container form {
  width: 100%;
  max-width: 500px;
}

.sell-container p {
  text-align: left;
  margin-left: 1%;
}

/* sälj bostad justering */
.sell-container {
  text-align: left;
  margin-bottom: 5vh
}

.sell-container h2,
.sell-container p,
.sell-container label,
.sell-container input,
.sell-container select,
.sell-container textarea,
.sell-container button {
  margin-bottom: 3px;
}

/* ------- Kontakt ------- */

#brokers {
  position: relative;
  max-width: 600px;
  margin: 3em auto 1em;
}

#dealers {
  width: 100%;
  font-size: 62.5%;
}

.dealer {
  display: inline-block;
  position: relative;
  width: 168px;
  padding: 1em;
  margin: 0 0.5em 1em 0.5em;
  border-radius: 1em;
  background-color: #6c8e5753;
}

.dealer-img {
  width: 100%;
}

.dealer-name {
  font-size: 1.4em;
  margin: 5px 0 2px 0;
}

.connect {
  color: #444;
}

p.ingress {
  font-weight: 300;
  font-size: 1.3em;
  text-align: center;
  margin: 0.5em;
  color: #444;
}

.dealer>p {
  font-size: 1.3em;
  line-height: 130%;
  margin: 0;
}

p.role {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 0.9em;
}

.mail-us>a,
.call-us>a {
  text-decoration: none;
  color: var(--text-clr);
}

.mail-us>a:hover,
.call-us>a:hover {
  text-decoration: none;
  font-weight: 400;
  color: var(--text-clr);
}

.form-section {
  display: block;
  background-color: #6c8e5753;
  height: 184px;
  padding-top: 1em;
}

/* Send-formulär */

/* ------- Mäklarsidan -> (realtor) ------ */
#app {
  margin-left: 1vh;
}

#realtorPage {
  text-align: center;
  justify-content: center;
}

/* ------- Logga in -> (logIn) ------- */
#login-form {
  margin: 0 auto;
  max-width: 600px;
  margin-bottom: 50vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#login-form>input {
  margin: 0;
  margin-bottom: 2vh;
}

#loginButton {
  box-sizing: border-box;
  font-size: 18px;
  padding: 10px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  width: 150px;
  background-color: #208137;
  color: white;
  border-radius: 5px;
  border-color: white;
}

.username {
  margin-bottom: 10px;
}

#username {
  margin-bottom: 10px;
}

label[for="username"] {
  font-size: 22px;
  max-width: 60%;
}

label[for="password"] {
  font-size: 22px;
  max-width: 60%;
}

/* ------- Sidfot ------- */
footer {
  margin-top: auto;
  width: 100vw;
  min-height: 150px;
  background-image: url(../image/footer.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

.residenceItem {
  list-style: none;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #045008;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
}

.interestButton {
  background-color: #208137;
  color: #fff;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.interestButton:hover {
  background-color: #165a2c;
}

.interestForm {
  display: none;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.interestForm input[type=text],
.interestForm input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.interestForm input[type=submit] {
  width: 100%;
  background-color: #208137;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.interestForm input[type=submit]:hover {
  background-color: #165a2c;
}

.thumbnail {
  max-width: 100px;
  height: auto;
  margin: 5px;
  cursor: pointer;
  opacity: 0.6;
}

.thumbnail:hover {
  opacity: 1;
}

#thumbnails {
  text-align: center;
  padding: 10px;
}

.carousel {
  position: relative;
}

.residence-image {
  width: 100%;
  height: auto;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  font-size: 3vw;
  background-color: transparent;
  border: none;
  width: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw;
  color: black;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.left-arrow:hover,
.right-arrow:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

#logoutButton {
  position: fixed;
  top: 0;
  right: 0;
  margin: -1px -1px 0 0;
  background: #208137;
  color: #edf6f9;
  border-bottom: var(--background-clr) solid 0.3px;
  border-left: var(--background-clr) solid 0.3px;
  border-radius: 0 0 0 10px;
  opacity: 75%;
  padding: 0.3rem 1rem;
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
  transition: background-color 0.3s;
}

#logoutButton:hover {
  background-color: #165a2c;
}

.logout-button {
  top: 0;
  right: 0;
  margin: 10px;
}

@media screen and (max-width: 600px) {
  .hamburger {
    position: absolute;
    margin-top: 3em;
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    z-index: 3000;
    transition: 0.3s;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: #fff;
    border-radius: 10px;
    transition: 0.3s;
  }

  .hamburger::before {
    top: -8px;
    width: 20px;
  }

  .hamburger::after {
    top: 8px;
    width: 20px;
  }

  .toggle-meny {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 4000;
    cursor: pointer;
    opacity: 0%;
  }

  #nav-pos input:checked~.hamburger {
    background: transparent;
  }

  #nav-pos input:checked~.hamburger:before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
  }

  #nav-pos input:checked~.hamburger:after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
  }

  #nav-pos input:checked~.nav-meny {
    right: 0;
  }

  .hamburger,
  .toggle-meny {
    display: flex;
    justify-content: end;
    align-items: end;
    position: fixed;
    top: 18px;
    right: 15px;
  }

  .nav-meny {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 130px;
    right: -100%;
    background: var(--text-clr);
    opacity: 90%;
    width: 100%;
    height: 450px;
    padding-top: 8px;
  }

  .nav-meny a,
  .nav-meny a:hover {
    width: 100%;
    padding: 20px 0;
    border-radius: 0;
    border-top: none;
    border-bottom: #ffffff42 solid 0.5px;
  }

  .pointer {
    z-index: 4000;
  }

  /* Home -> paralax */
  .titel {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 15px;
  }

  .p-hero {
    padding: 2em 5px 0;
  }

  /* formulär */
  .form-section {
    width: 100%;
  }

  .contact-form {
    width: 100%;
    padding: 0;
  }

  #email,
  #notation,
  #message {
    width: 90%;
  }

  #form-contact-btn {
    margin: 0 auto;
    display: block;
  }

  #brokers {
    text-align: center;
  }
}